# Directories
/data/
/models/
/logs/
/results/

# cython
build/
*.so
cython_merge.c

# Python pycache
__pycache__/

# Run scripts
run.sh
src/cli_tools/train.sh
src/cli_tools/evaluate.sh

# IDE
.idea/
.vscode/