# Directories
/data/
/data_release/
/models/
/logs/
/results/
/notebooks/
/cache/

# cython
build/
*.so
cython_merge.c

# Python pycache
__pycache__/

# Run scripts
run.sh


# IDE
.idea/
.vscode/

myenv/
scripts/
wandb/
src/graph_transformers/jobs.sh
checkpoints/graph_transformer/